mcia1readcsv2sendmq/src/main/mule/mcia1readcsv2sendmq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mcia1readcsv2sendmqFlow" doc:id="5b9ccc8e-20e3-40ce-b02c-f859248f6dd1" >
		<file:listener doc:name="On New or Updated File" doc:id="308de80a-7347-4f78-a460-0a69037f22d0" config-ref="File_Config" directory="\data\input" recursive="false" timeBetweenSizeCheckUnit="MINUTES">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="4dc578b0-ec1b-40c0-a584-5c33d4b56d65" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="3bb2d755-a680-44f3-a89d-d79998610fce" message="#[payload]" />
		<logger level="INFO" doc:name="Logger" doc:id="4013620e-0083-44aa-9a87-ddd0e3d0a4f3" message="#[sizeOf(payload)]"/>
	</flow>
</mule>
