StockTradeSystemMuleApp/src/main/mule/add-stocks-service-nbe.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="81b9fbb3-2e43-4f5b-8461-1ba775cc2c1a" />
	<flow name="add-stocks-service-nbeFlow" doc:id="c8219036-78ea-4f36-864e-9a6c2be081d1" >
		<http:listener doc:name="POST /nbe/addstocks" doc:id="d1a76935-382f-4aaa-836f-5e47ba13db64" config-ref="HTTP_Listener_config" path="/nbe/addstocks" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="acfce3d7-cbdf-4496-a36a-496bff75de8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-not-null doc:name="Is not null" doc:id="3596ef49-19a9-481e-89bc-56f218c55e44" config-ref="Validation_Config" value="#[payload.symbol]" message="'Stockname/Symbol is mandatory, (and it is not null)'"/>
		<logger level="INFO" doc:name="Logger" doc:id="fcebf66c-4e5f-4d19-b482-9a107f42f6ba" message="#[payload.symbol]"/>
		<db:insert doc:name="Insert" doc:id="04376575-a8e6-4924-9b90-8df2f347b12e" config-ref="Mysql-Local-Connection">
			<db:sql ><![CDATA[INSERT INTO OHLC5 ( SYMBOL, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, CLOSE_PRICE,LAST_PRICE, PREV_CLOSE, DELIV_QTY) 
VALUES 	(:symbol,  :open_price, :high_price, :low_price, :close_price, :last_price, :prev_close, :deliv_qty )]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#['Payload record inserted into OHLC5 !']" doc:name="Set Payload" doc:id="060296a2-868c-4ac3-bb6a-12ccf8893066" />
		<logger level="INFO" doc:name="Logger" doc:id="a3c2bcde-96fb-4a72-8801-784ea46680fe" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="OnError Continue" doc:id="d37f0376-d161-458e-a4cc-4e69d362a3e6" type="ANY">
				<set-payload value="#['Error : INPUT json should have id, SYMBOL, (open*, price*, low*, clase*)_price, deliv_qty']" doc:name="Set Payload" doc:id="857501ee-05b2-4007-b25f-fc2e8083f2ee" />
				<logger level="INFO" doc:name="Logger" doc:id="892b9a0c-db04-469c-8cf4-d8f1aae0dd30" message="#[payload]"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
