StockTradeSystemMuleApp/src/main/mule/strade-mysql.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="95b96dc3-e937-4273-86a0-47dd6e9a000f" basePath="/nse" >
		<http:request-connection host="localhost" port="8080" />
	</http:request-config>
	<flow name="strade-mysql-getallstocks-flow" doc:id="084c735a-4193-42e8-a09d-99185c90b90b" >
		<http:listener doc:name="GET /mnse/all" doc:id="7aba9f6a-9e44-451c-a071-ec8cfd51d4a5" config-ref="HTTP_Listener_config" path="/mnse/all"/>
		<db:select doc:name="Select" doc:id="74231f15-99f1-441a-9a0f-c3da71982016" config-ref="Mysql-Local-Connection">
			<db:sql ><![CDATA[select * from ohlc5]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ce6a62c0-c8a9-4ddc-bfad-cf83d1c3e521" >
			<ee:message >
				
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
 payload map {
 	id: ($$),
	stock: $.SYMBOL,
	price: $.CLOSE_PRICE,
	tradedQty: $.DELIV_QTY
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="58a3ec6f-0cd1-4357-9b5a-cc6987485dab" message="#['Payload returned with Stock list size : ' ++ sizeOf( payload.stock )]"/>
	</flow>
	<flow name="strade-mysql-getstocks-flow" doc:id="9ddb23ad-ec60-4772-84f5-fcff6ae0e5f2" >
		<http:listener doc:name="Call NSEAPI /mnse/stock/{symbol}" doc:id="3d9691ac-8548-49c9-b518-c159dd10699f" config-ref="HTTP_Listener_config" path="/mnse/stock/{symbol}"/>
		<set-variable value='#[upper(attributes.uriParams.symbol)]' doc:name="Set Variable - stockname" doc:id="ffdf6bcd-acca-463f-ac0c-ae44f8d61c0e" variableName="stockname"/>
		<db:select doc:name="Select" doc:id="9b27a28a-9d98-4d2d-9119-0e8a689b37f0" config-ref="Mysql-Local-Connection">
			<db:sql ><![CDATA[SELECT *
FROM OHLC5 ]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="910ac386-c064-4ce6-93f7-191e9c3c1d45">
			<ee:message>
				
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> {
    sno: index,
    stock: item.SYMBOL,
    price: item.LAST_PRICE,
    tradedQty: item.DELIV_QTY
})    filter (v, i) -> v.stock == vars.stockname]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="da19e6b0-03d1-4389-8a41-a26aa8a99273" message="#['collection is  empty;    &gt;&gt;&gt; ' ++ vars.stockname ++ '-not found.']"/>
		<logger level="INFO" doc:name="Logger" doc:id="b9446b56-2fcf-4eeb-923b-54dd1005b4ea" message="#['TASK COMPLETED!!!! and record returned size : ' ++ isEmpty(payload.stock)]"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ecf38a99-3703-4930-8ae9-61945e1e28f6">
				<logger level="INFO" doc:name="Logger" doc:id="f76e3d61-95af-48de-aa6c-9e823bd52e33" message="#[error.errorMessage]" />
				<ee:transform doc:name="Transform Message" doc:id="a0e08bfa-b793-4cde-a95a-0842ed3a9f1e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	stock:  (vars.stockname as String) ++ '  not found!!'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="strade-call-soap-request-ws-getstocks-flow" doc:id="98dc60ab-45f0-4d80-be12-0f86ed503b26" >
		<http:listener doc:name="http get /mbse/stock/{name}" doc:id="fb24c583-b9b8-4536-b24c-bbcd12674509" config-ref="HTTP_Listener_config" path="/mbse/stock/{name}"/>
		<logger level="INFO" doc:name="Logger" doc:id="f4f9779f-4f19-45bc-94e2-b39fbc6a7c98" message="#['get stock detail for : ' ++ upper (attributes.uriParams.name) as String]"/>
		<set-variable value="#[upper (attributes.uriParams.name)]" doc:name="Set Variable" doc:id="476e473a-b2ab-4063-ba6c-e500381b18b0" variableName="stockname"/>
		<http:request method="GET" doc:name="Request /nse all stocks" doc:id="9add56bf-2dbd-47b9-912d-d272767ecc84" config-ref="HTTP_Request_configuration" path="/all"/>
		<ee:transform doc:name="TM filter by stockname" doc:id="b958f24d-15aa-46ad-b5e2-d9b9263b4a3d" >
			<ee:message >
				
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> {
    sno: index,
    stock: item.symbol,
    price: item.last_price,
    qty: item.deliv_qty
})    filter (v,i) -> v.stock == vars.stockname]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="10bebcaa-a315-4206-98d1-72b8e8a30955" />
		<logger level="INFO" doc:name="Logger" doc:id="82ef4378-65c1-4595-9e40-35800604240d" message='"NSE Stocks pulled through WebService running on localhost:8080"' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue2" doc:id="1082660a-9ed7-497d-9c4f-1ce1e8a0ea84" >
				<logger level="INFO" doc:name="Logger2" doc:id="b733cebb-dac3-4c23-a27e-9075d28aaa8e" message="#[error.errorMessage]" />
				<ee:transform doc:name="TM" doc:id="5297bfc1-fc97-4f9d-bae7-8f0e24e21b41" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	stock:  (vars.stockname as String) ++ '  not found!!'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="strade-mysql-stockname-flow" doc:id="7d791478-4d36-406e-8231-1245bbd213ee" >
		<http:listener doc:name="Listener /mnse/stocksname" doc:id="d30f97a2-29d1-4377-9f6d-7267e090ae30" config-ref="HTTP_Listener_config" path="/mnse/stocksname"/>
		<db:select doc:name="Select" doc:id="45c319fc-1003-4063-acd5-1953d142c79d" config-ref="Mysql-Local-Connection">
			<db:sql ><![CDATA[SELECT DISTINCT SYMBOL
FROM OHLC5]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9296e625-1dc5-49c7-a20b-1551766a3a38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.SYMBOL]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e586fde0-add3-408d-a165-8257cb264a09" message="Pulled all the distinct name of stocks avaible in db!!!!"/>
	</flow>
</mule>
