StockTradeSystemMuleApp/src/main/mule/strade-load-file-to-mysql.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e56578a0-d88e-44f0-83ce-5208e4b6ce11" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<file:config name="File_Config" doc:name="File Config" doc:id="5883a3b7-3eda-44af-9636-c5cb56b2fa7b" />
	
	<db:config name="Mysql-Local-Connection" doc:name="Database Config" doc:id="d715bc12-cf07-4bec-8d47-916b366bbfe7" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="password" database="nse" />
	</db:config>
	
	
	<file:config name="Bhavcopy1_File_Config" doc:name="File Config" doc:id="1287e27f-91db-4a2b-afef-a1362895cf6b" />
	
	
	<flow name="dayOHLCFlow" doc:id="8b98cdf3-9bab-473c-bd59-d3e8a6db8ec1" >
		<http:listener doc:name="http get /mnse/ping" doc:id="539a35e8-1a33-4b62-a1cc-ece1d2b801d7" config-ref="HTTP_Listener_config" path="/mnse/ping"/>
		<ee:transform doc:name="Transform Message" doc:id="fa65fa7b-753a-4654-bb6f-ac2662106638" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: 'ping is successful',
	appmsg: 'StockTradingSystem is UP!!!!',
	msg3: app.name,
	workDir4: app.workDir,
	standalone5: app.standalone,
	
	msg6mule : mule.home,
	msg7mule :  mule.version,
	
	msg9server: server.javaVersion,
	msg10server: server.osVersion,
	msg11server: server.userName,
	msg12serverTZ: server.timeZone,
	msg8serverIp : server.ip,
	msg14serverEnv: server.env
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a41eee9f-ad6c-412b-b23b-16bd85191c62" message="#[payload]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="bd743153-e77c-42e7-8a46-c4f85275437e" />
	</flow>
	<flow name="OhlcDataLoad2Mysql" doc:id="97a18d29-9bd8-4e6a-b7b5-119a4a8d186a" >
		<http:listener doc:name="GET /mload" doc:id="795fdcda-a627-42f8-a2a3-4ca45b222123" config-ref="HTTP_Listener_config" path="/mload"/>
		<file:read doc:name="Read" doc:id="3efe0dc9-0822-4687-8787-f04a3d4e97de" config-ref="File_Config" path="C:\Users\SHARANABASAPPAPATIL\Downloads\sec_bhavdata_full.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="668ea66a-0e75-4bfa-bfd8-12ace72b8704">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
	stock: $.SYMBOL,
	open: $."OPEN_PRICE" default 0 as Number,
	high: $."HIGH_PRICE" default 0 as Number,
	low: $."LOW_PRICE" default 0 as Number,
	close: $."CLOSE_PRICE" default 0 as Number,
	qty: $."DELIV_QTY" default 0 as Number,
	lstp: $."LAST_PRICE" default 0 as Number,
	pc: $."PREV_CLOSE",
	date1: ($."DATE1" as Date default now()) as Date 
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="1" doc:name="Set Variable" doc:id="f02111a5-1971-4c96-ad12-6813cc879a7f" variableName="recrd"/>
		<foreach doc:name="For Each" doc:id="cec7b7da-676d-434a-a2a9-4c0a254242b8" >
			<logger level="INFO" doc:name="Logger" doc:id="297a4143-1cfd-4711-b5cc-c022bd254330" message="#[payload.date1]" />
			<db:insert doc:name="Insert" doc:id="0aa614c0-35c3-4fa3-9994-c992f8a01381" config-ref="Mysql-Local-Connection">
				<db:sql ><![CDATA[INSERT INTO OHLC5 ( SYMBOL, tradeDATE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, CLOSE_PRICE,  LAST_PRICE, PREV_CLOSE, DELIV_QTY) 
VALUES 	(:stock, :date1, :open, :high, :low, :close, :lstp, :pc, :qty)]]></db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="238f301d-0bef-4fe1-a3ad-3e806316a860" message='"JOB COMPLETED"'/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="63ecddb4-c7d5-4037-aa16-3e9c928c1ccc" >
				<logger level="INFO" doc:name="Logger" doc:id="9af9c71b-3279-472f-a355-3512da6b81cc" message="#[error.errorType]"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
</mule>
