mulevms/src/main/mule/mulevms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	
	<flow name="mulevms-scheduler-flow" doc:id="6fe06e75-a4f4-4dc1-9f5f-3349311af300" >
		<scheduler doc:name="Scheduler" doc:id="3ff506dc-0cac-46ee-b46c-e4986606e166" >
			<scheduling-strategy >
				<fixed-frequency frequency="60" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="1d2502a4-b506-4b1e-9434-a83e0b03a572" name="mulevms-http-publish2vm-flow"/>
	</flow>
	<flow name="mulevms-http-publish2vm-flow" doc:id="37037326-7619-42c7-959d-aadd48df5b74" >
		<http:listener doc:name="/hello" doc:id="b095cd5b-6a4e-4f8e-8061-3ab25944ee7b" config-ref="HTTP_Listener_config" path="/hello"/>
		<ee:transform doc:name="Transform Message" doc:id="d42797dd-9339-47df-8715-8a7385a57490" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json


var object1 = {
    "key1": "value1",
    "key2": {
        "key3": "value3"
    }
}

var object2 = {
    "key4": "value4",
    "key5": {
        "key6": "value6"
    }
}

var rid = randomInt(1000)
---
{
	"id" : rid
}
++
object1 ++ object2]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c7b8723b-77f6-4acd-80cc-e354f3955ab5" message="#[payload]"/>
		<vm:publish queueName="empqueue" doc:name="Publish" doc:id="c1df4569-6037-4199-936b-beccb0043f90" config-ref="VM_Config" sendCorrelationId="AUTO"/>
	</flow>
	<flow name="mulevms-vmlistener-flow" doc:id="0795958b-2fc5-41ed-93a2-b971b67b84b5" >
		<vm:listener doc:name="Listener" doc:id="fbe7c73d-4273-4a11-a60f-a2348e359a90" config-ref="VM_Config" queueName="empqueue"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="7642c2f4-e72f-472f-98b6-5c2b3c1af3b7" message="#[payload]"/>
	</flow>
</mule>
